li a{
    font-family: "Roboto_Condensed";
    font-weight: 700;
    font-style: italic;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.fa-4x{
    padding : 0 10px 0 10px;
}


.section-contact h5 {
    margin-bottom: 30px;
}

.navBarGradient{
    background: linear-gradient(10deg, #E2062B, #EA4C46, #F07470, #F1959B, #F6DBC0);
}

.btn{
     margin: 10px 20px 0 0;
}
 
.btn-gradient{
    background: linear-gradient(-10deg, #E2062B, #EA4C46, #F07470, #F1959B, #F6DBC0);
}

.card-content-info{
    text-align: center;
    padding: 0px
}

#card-container{
    margin-top: 50px;
}

.card ul li{
    padding: 20px !important;
    font-weight: bold;
}

.card{
    transition: .5s;
}

.card-title{
    padding: 10px;
}

.card:hover{
    transform: scale(1.05);
}
